[submodule "bundle/vue"]
	path = bundle/vue
	url = https://github.com/posva/vim-vue.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/windowswap"]
	path = bundle/windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "bundle/local-vimrc"]
	path = bundle/local-vimrc
	url = https://github.com/MarcWeber/vim-addon-local-vimrc.git
[submodule "asciidoc"]
	path = asciidoc
	url = https://github.com/dahu/vim-asciidoc.git
[submodule "Asif"]
	path = Asif
	url = https://github.com/dahu/Asif.git
[submodule "vimple"]
	path = vimple
	url = https://github.com/dahu/vimple.git
[submodule "VimRegStyle"]
	path = VimRegStyle
	url = https://github.com/Raimondi/VimRegStyle.git
[submodule "SyntaxRange"]
	path = SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
[submodule "vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/Jenkinsfile-vim-syntax"]
	path = bundle/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "bundle/vim-clang-format"]
	path = bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
