[submodule "bundle/vue"]
	path = bundle/vue
	url = https://github.com/posva/vim-vue.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/windowswap"]
	path = bundle/windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "bundle/local-vimrc"]
	path = bundle/local-vimrc
	url = https://github.com/MarcWeber/vim-addon-local-vimrc.git
